.slider {
  width: 300px;
  height: 10px;
  background-color: lightgray;
  z-index: 1;

  &__thumb {
    width: 15px;
    height: 16px;
    background-color: green;
    z-index: 2;
    position: relative;
    top: -3px;
    left: 1px;
  }
}
